.navbar {
  display: flex;
  justify-content: space-around;
  position: sticky;
  font-size: 2rem;
  height: 7rem;
  align-items: center;
  background: #3e3c3c;
  color: white;

  &-name {
    margin-left: 2rem;

    &-p {
      color: #fff;
    }
  }

  &-ul {
    display: flex;
    list-style: none;
  }

  &-li-link {
    margin-left: 4rem;
  }

  &-a-link {
    color: white;
  }
}

.fa-envelope {
  margin-left: 2rem;
}