.hero-section-box {
  margin-top: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  flex-direction: column;
}

.social-media-ul {
  list-style: none;
  display: flex;
}

.social-media-icons {
  display: flex;
  font-size: 4rem;
  height: 30%;
  width: 100%;
  order: 1;
  justify-content: center;
}

.social-media-links {
  color: #fff;
  margin-right: 3rem;
}

.hero-text-box {
  width: 80%;
}

.hero-text-h1 {
  color: #f55800;
  font-size: 7.2rem;
  margin-bottom: 2rem;
}

.hero-main-text-name {
  display: block;
}

.hero-text-title {
  font-size: 3.2rem;
  margin-bottom: 2rem;
}

.hero-text-p {
  font-size: 2rem;
  line-height: 2;
}