.social-media {
	&-ul {
		list-style: none;
		display: flex;
	}

	&-icons {
		display: flex;
		font-size: 4rem;
		height: 30%;
		width: 100%;
		order: 1;
		justify-content: center;
	}

	&-links {
		color: #fff;
		margin-right: 3rem;
	}
}

.hero {
	&-section-box {
		margin-top: 10rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 50%;
		flex-direction: column;
	}

	&-text {
		&-box {
			width: 80%;
		}

		&-h1 {
			color: #f55800;
			font-size: 7.2rem;
			margin-bottom: 2rem;
		}

		&-title {
			font-size: 3.2rem;
			margin-bottom: 2rem;
		}

		&-p {
			font-size: 2rem;
			line-height: 2;
		}
	}

	&-main-text-name {
		display: block;
	}
}